{% extends 'base.html' %}
{% load static %}
{% block content %}

        <br>
        <br>
        <br>
        <br>

    <!-- team-area start -->
    <section class="our-project pb-xs-80 pt-xs-80 pt-sm-100 pb-sm-100 pt-md-100 pb-md-100 pt-120 pb-115 overflow-hidden">
        <div class="container">
            <div class="row mb-minus-30">
                <div class="col-lg-4 col-sm-6">
                    <div class="our-project__item overflow-hidden mb-30">
                        <img src="{% static 'img/projects/animation.jpg' %}" alt="">

                        <div class="content d-flex align-items-center justify-content-between">
                            <div class="text">
                                <span class="fw-500 color-primary d-block mb-10 text-uppercase">Animation</span>
                                <h5 class="title color-d_black">2D & 3D Animation</h5>
                            </div>

                            <a href="our-project-details.html" class="theme-btn"><img src="{% static 'img/icon/arrow-right-top.svg' %}" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-sm-6">
                    <div class="our-project__item overflow-hidden mb-30">
                        <img src="{% static 'img/portfolio/Website Dev.jpg' %}" alt="">

                        <div class="content d-flex align-items-center justify-content-between">
                            <div class="text">
                                <span class="fw-500 color-primary d-block mb-10 text-uppercase">Website</span>
                                <h5 class="title color-d_black">Website Development</h5>
                            </div>

                            <a href="our-project-details.html" class="theme-btn"><img src="{% static 'img/icon/arrow-right-top.svg' %}" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="our-project__item overflow-hidden mb-30">
                        <img src="{% static 'img/portfolio/Website des.jpg' %}" alt="">

                        <div class="content d-flex align-items-center justify-content-between">
                            <div class="text">
                                <span class="fw-500 color-primary d-block mb-10 text-uppercase">Website</span>
                                <h5 class="title color-d_black">Website Design</h5>
                            </div>

                            <a href="our-project-details.html" class="theme-btn"><img src="{% static 'img/icon/arrow-right-top.svg' %}" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="our-project__item overflow-hidden mb-30">
                        <img src="{% static 'img/portfolio/Game.jpg' %}" alt="">

                        <div class="content d-flex align-items-center justify-content-between">
                            <div class="text">
                                <span class="fw-500 color-primary d-block mb-10 text-uppercase">Game</span>
                                <h5 class="title color-d_black">Game Development/h5>
                            </div>

                            <a href="our-project-details.html" class="theme-btn"><img src="{% static 'img/icon/arrow-right-top.svg' %}" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-sm-6">
                    <div class="our-project__item overflow-hidden mb-30">
                        <img src="{% static 'img/portfolio/Software Dev.jpg' %}" alt="">

                        <div class="content d-flex align-items-center justify-content-between">
                            <div class="text">
                                <span class="fw-500 color-primary d-block mb-10 text-uppercase">Software</span>
                                <h5 class="title color-d_black">Software Design</h5>
                            </div>

                            <a href="our-project-details.html" class="theme-btn"><img src="{% static 'img/icon/arrow-right-top.svg' %}" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="our-project__item overflow-hidden mb-30">
                        <img src="{% static 'img/portfolio/Augmented Rea.jpg' %}" alt="">

                        <div class="content d-flex align-items-center justify-content-between">
                            <div class="text">
                                <span class="fw-500 color-primary d-block mb-10 text-uppercase">Augmented Reality</span>
                                <h5 class="title color-d_black">Reality and Virtual Reality Product</h5>
                            </div>

                            <a href="our-project-details.html" class="theme-btn"><img src="{% static 'img/icon/arrow-right-top.svg' %}" alt=""></a>
                        </div>
                    </div>
                </div>


            <div class="row">
                <div class="col-12">
                    <div class="page-nav-wrap text-center mt-50 mt-sm-40 mt-xs-35">
                        <ul>
                            <!-- <li class="arrow left"><a href="#"><i class="far fa-chevron-double-left"></i></a></li> -->
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="arrow right"><a href="#"><i class="far fa-chevron-double-right"></i></a></li>
                        </ul>
                    </div> <!-- /page-nav-wrap -->
                </div>
            </div>
        </div>
    </section>
    <!-- team-area end -->
{% endblock content %}